name: Integration

on:
  push:

jobs:
  test-run:
    strategy:
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          config: testdata/path/to/.octocov.yml
        env:
          ARTIFACT_NAME: "octocov-report-${{ matrix.os }}"
  test-run-with-work-dir:
    strategy:
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          work-dir: testdata/path/to
        env:
          ARTIFACT_NAME: "octocov-report-with-work-dir-${{ matrix.os }}"
  test-run-with-install-dir:
    strategy:
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJSON('["ubuntu-latest"]') || fromJSON('["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          config: testdata/path/to/.octocov.yml
          install-dir: testdata/path/to
        env:
          ARTIFACT_NAME: "octocov-report-with-install-dir-${{ matrix.os }}"
